<%= form_with(model: @user, local: true, url: sessions_path) do |form| %>
  <% if @errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_with(model: @user, local: true, url: login_path) do |form| %>
  <div class="field">
    <p><%= form.label :username %></p>
    <%= form.text_field :username, class:'x' %>
  </div>

  <div class="field">
    <p><%= form.label :password %></p>
    <%= form.password_field :password, class:'x' %>
  </div>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>
