<h1>Create a New Forum</h1>

<% if logged_in? %>
  <%= form_tag("/forums/#{@forum.id}", method: "post") do %>
    <label for="name">Forum Name: </label>
    <%= text_field_tag(:name, @forum.name) %>
    <%= hidden_field_tag(:slug, @forum.slug) %>
    <p>Add Moderators</p>
    <label for="mods[mod1]">Username: </label>
    <%= text_field_tag(:"mod[mod1]") %>
    <label for="mods[mod2]">Username: </label>
    <%= text_field_tag(:"mod[mod2]") %>
    <label for="mods[mod3]">Username: </label>
    <%= text_field_tag(:"mod[mod3]") %>
    <%= submit_tag("Create Forum") %>
  <% end %>
<% end %>
