<h1><%= @forum.name %></h1>
<h3>Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, "/forums/#{@forum.slug}/posts/#{post.slug}" %> | <%= pluralize(post.comments.count, 'Comment')%></li>
    <li><%= link_to post.title, show_forum_url(@forum.slug, post.slug) %> | <%= pluralize(post.comments.count, 'Comment')%></li>
  <% end %>
</ul>

<%= link_to "New Post", "/forums/#{@forum.slug}/posts/new" %>
