<div class="border p1 flr x200">
  <p class="mt0 ac"><%= "Admin" %></p>
  <hr class="mb1">
  <ul>
    <% @admins.each do |admin| %>
    <!-- if we are at the last admin in list, we dont want a comma -->
    <% if @forum.creator_object == admin.user %>
      <li><%= link_to @forum.creator, "/users/#{admin.slug}", class:'admin' %></li>
    <% else @fas.include?(admin) %>
      <li><%= link_to admin.username, "/users/#{admin.slug}", class:'mod' %></li>
    <% end %>
    <% end %>
  </ul>
</div>
<h1><%= @forum.name %></h1>
<p>Created by: <%= link_to @forum.creator, "/users/#{@forum.creator_slug}", class:"admin" %></p>

<%= link_to "New Post", "/forums/#{@forum.slug}/posts/new" %>

<h3>Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, "/forums/#{@forum.slug}/posts/#{post.slug}" %> | <%= pluralize(post.comments.count, 'Comment')%></li>
    <!-- <li><%= link_to post.title, show_forum_url(@forum.slug, post.slug) %> | <%= pluralize(post.comments.count, 'Comment')%></li> -->
  <% end %>
</ul>
