<div class='xmax500 border p1 mxa'>
  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <% if logged_in_as?(@user.id) %>
    <h3>Edit <%= @user.username %></h3>
    <%= form_for @user do |f| %>
    <div class="field">
      <p><%= f.label :username %></p>
      <%= f.text_field :username, class:'x' %>
    </div>

    <div class="field">
      <p><%= f.label :email %></p>
      <%= f.text_field :email, class:'x' %>
    </div>

    <div class="field">
      <p><%= f.label :bio %></p>
      <%= f.text_area :bio, class:'x' %>
    </div>

    <div class="field">
      <p><%= f.label 'Upload Your Avatar' %></p>
      <%= f.file_field :avatar, class:'x' %>
    </div>

    <div class="field">
      <p><%= f.label :password %></p>
      <%= f.password_field :password, class:'x' %>
    </div>

    <div class="field">
      <p><%=f.label :password_confirmation %></p>
      <%=f.password_field :password_confirmation, class:'x' %>
    </div>


    <%= f.submit "Save" %>

    <% end %>
    <% else %>
      <h3 class="ac">Don't</h3>
      <p class="ac"><%= link_to 'Go Back', "/users/#{@user.slug}" %></p>
  <% end %>
</div>
