<%= form_for @user do |f| %>
<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :bio %>
  <%= f.text_field :bio %>
</div>

<div class="field">
  <%= f.label 'Upload Your Avatar' %>
  <%= f.file_field :avatar %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
  <%= f.submit "Register" %>

<% end %>
