<div class='xmax500 border p1 mxa'>
<h3>Register</h3>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
<div class="field">
  <p><%= f.label :username %></p>
  <%= f.text_field :username, class:'x' %>
</div>

<div class="field">
  <p><%= f.label :email %></p>
  <%= f.text_field :email, class:'x' %>
</div>

<div class="field">
  <p><%= f.label :bio %></p>
  <%= f.text_field :bio, class:'x' %>
</div>

<div class="field">
<p>  <%= f.label 'Upload Your Avatar' %></p>
  <%= f.file_field :avatar, class:'x' %>
</div>

<div class="field">
<p>  <%= f.label :password %></p>
  <%= f.password_field :password, class:'x' %>
</div>

<div class="field">
  <p><%=f.label :password_confirmation %></p>
  <%=f.password_field :password_confirmation, class:'x' %>
</div>


  <%= f.submit "Register" %>

<% end %>
</div>
