<% if @user.avatar_url %>
  <%= image_tag(@user.avatar_url.to_s, class: 'rnd box200 flr') %>
<% else %>
  <%= image_tag('/uploads/pholder.jpg', class: 'rnd box200 flr') %>
<% end %>
<h1><%= @user.username %></h1>
<% if logged_in? %>
  <%= link_to  'Edit', "/users/#{logged_in_user.slug}/edit"%>
<% end %>

<p><%= @user.email %></p>
<p><%= @user.bio %></p>

<h3>Posts</h3>
<% @posts.each do |post| %>
  <p><%= link_to post.title, "/forums/#{post.forum.slug}/posts/#{post.slug}" %></p>
<% end %>
<% #New post functionality? Search by forum? %>

<h3>Recent Likes</h3>
<% @likes.each do |like| %>
  <p><%= like.comment.user.username %> : <%= link_to like.comment.content, "/forums/#{like.comment.post.forum.slug}/posts/#{like.comment.post.slug}" %></p>
<% end %>
