<h1><%= @post.title %></h1>
<h3><%= @user.username %></h3>
<p><%= @post.content %></p>
<label for="comments"> <br>
  Comments: <br>
  <% @comments.each do |comment| %>
    <%= link_to comment.user.username, comment.user %>: <%= comment.content %> <br>
  <% end %>
</label>
