<h1><%= @post.title %></h1>
<p><%= link_to @user.username, "/users/#{@user.slug}" %> | <%= @post.created_at.strftime("%B %d, %Y at %l:%M %P") %></p>
<div class="border-bottom-dashed pb1"><%= sanitize @post.content %></div>

  <h3>Comments:</h3>
  <ul>
    <% @comments.each do |comment| %>
      <li class="grey br-20 mb05 px1"><%= link_to comment.user.username, "/users/#{comment.user.slug}" %>: <%= comment.content %></li>
    <% end %>
  </ul>
<h3>Post a Comment</h3>
<%= form_for @comment do |f| %>
<%= f.hidden_field :user_id %>
<%= f.label "Your Comment:" %>
<%= f.text_field :content %>
<%= f.hidden_field :post_id %>
<%= f.submit %>
<% end %>
